{% extends 'layout/layout-cl.html' %}
{% load i18n %}

{% block category_navigation %}
	<h3>СуперКаталог</h3>
	<ul>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
		<li><a href="">dasdfas dfdasfasd</a> f</li>
	<li>fda<a>sdfas dfda</a>sfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li><li>fdasdfas dfdasfasd f</li><li>fdasdfas dfdasfasd f</li>

	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	<li>fdasdfas dfdasfasd f</li>
	</ul>
{% endblock %}


{% block main_content %}
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p><p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfas<a href="">dasdfas dfdasfasd</a>fdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf <a>sdfas dfda</a>asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p><p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
		<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p><p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p><p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
		<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p><p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p><p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>
	<img src="asdfasfdasfd">
	<p>dsaf sdfasdfasdfasfdasfdasdf asfdasdf</p>

{% endblock %}